
* text=auto


*.ts eol=lf
*.tsx eol=lf
*.js eol=lf
*.jsx eol=lf
*.json eol=lf
*.css eol=lf
*.md eol=lf
*.html eol=lf


*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary
*.zip binary
*.gz binary
*.tar binary